{% extends "base.html" %}
{%load static%}

{% block css %}
<link rel="stylesheet" href="{%static 'css/posts_by_category.css'%}">
{% endblock css %}

{% block body %}
<div class="category-header">
    <div class="category-icon">
        <i class="fas fa-folder-open"></i>
    </div>
    <h3 class="category-title">{{category.category_name}}</h3>
    <p class="category-subtitle">
        {% if posts %}
            Showing {{posts|length}} post{% if posts|length != 1 %}s{% endif %}
        {% else %}
            No posts available
        {% endif %}
    </p>
</div>

{% if posts %}
<div class="row mb-2 posts-grid g-4">
    {% for post in posts %}
    <div class="col-md-6">
        <div class="category-post-card card">
            <div class="card-body">
                <h3><a href="{% url 'blog' post.slug %}">{{post.title}}</a></h3>
                <div class="post-meta">
                    <span><i class="far fa-clock"></i> {{post.created_at | timesince}} ago</span>
                    <span><i class="far fa-user"></i> {{post.author}}</span>
                </div>
                <p class="card-text">{{post.short_description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="no-posts-container">
    <div class="no-posts-icon">
        <i class="fas fa-inbox"></i>
    </div>
    <h4 class="no-posts-title">No Posts Found</h4>
    <p class="no-posts-text">There are currently no posts in this category. Check back later for updates!</p>
    <a href="/" class="btn-back-home">
        <i class="fas fa-home"></i> Back to Home
    </a>
</div>
{% endif %}

{% endblock body %}